---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

<br>

Exploring Gaze Dynamics in VR Film Education: Gender, Avatar, and the Shift Between Male and Female Perspectives
<br>
Zheng Wei, Jia Sun, Junxiang Liao, Lik-Hang Lee, Pan Hui, Huamin Qu, Wai Tong*, Xian Xu*
<br>
IEEE International Symposium on Mixed and Augmented Reality (ISMAR 2025), October 8–12, 2025, Daejeon, South Korea.
<br>
<br>

RemVerse: Supporting Reminiscence Activities for Older Adults through AI-Assisted Virtual Reality
<br>
Ruohao Li, Jiawei Li*, Jia Sun*, Zhiqing Wu, Zisu Li, Ziyan Wang, Ge Lin, and Mingming Fan
<br>
Proc. ACM Interact. Mob. Wearable Ubiquitous Technol. (IMWUT), October 12–16, 2025, Espoo, Finland.
<br>
<br>

Algorithmic Miner: Humanity in Service – An AI-Driven VR Journey into Machine Logic
<br>
Jia Sun, Zheng Wei, and Pan Hui  
<br>
SIGGRAPH 2025, August 10–14, 2025, Vancouver, BC, Canada. 
<br>
<br>

Artificial Human Lecturers: Initial Findings from Asia’s First AI Lecturers in Class to Promote Innovation in Education
<br>
Ching Christie Pang, Yawei Zhao, Zhizhuo Yin, Jia Sun, Reza Hadi Mogavi, and Pan Hui
<br>
HCII 2025, May 25, 2025,Copenhagen, Denmark; Lecture Notes in Computer Science, Springer.
<br>
<br>

Illuminating the Scene: How Virtual Environments and Learning Modes Shape Film Lighting Mastery in Virtual Reality
<br>
Zheng Wei, Jia Sun, Junxiang Liao, Lik-Hang Lee, Chan In Sio, Huamin Qu, Wai Tong, and Pan Hui  
<br>
IEEE VR 2025, March 23–28, 2025, Los Angeles, USA; co-published in TVCG. Best Papers - Honorable Mention.
<br>
<br>

MetaClassroom: An Immersive Environment for Teaching and Learning in Metaverse
<br>
Jia Sun, Zihao Fu, Kairong Fang, Yuyang Wang, and Pan Hui  
<br>
VINCI 2024, December 11–13, 2024. Hsinchu, Taiwan, China.
<br>
<br>

Embodied AI-Guided Interactive Digital Teachers for Education
<br>
Zhuoran Zhao, Zhizhuo Yin, Jia Sun, and Pan Hui 
<br> 
SIGGRAPH Asia 2024, December 3–6, 2024. Tokyo, Japan.
<br>
<br>

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



