---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

1. [**_Algorithmic Miner: Humanity in Service – An AI-Driven VR Journey into Machine Logic_**](#)
<br>
Jia Sun, Zheng Wei, and Pan Hui  
*SIGGRAPH 2025*, July 27–31, 2025, Vancouver, BC, Canada. (Accepted for publication and presentation.)

2. [**_Illuminating the Scene: How Virtual Environments and Learning Modes Shape Film Lighting Mastery in Virtual Reality_**](https://doi.org/10.1109/TVCG.2025.3549189)
<br>
Zheng Wei, Jia Sun, Junxiang Liao, Lik-Hang Lee, Chan In Sio, Huamin Qu, Wai Tong, and Pan Hui  
*IEEE VR 2025*, co-published in *IEEE Transactions on Visualization and Computer Graphics (TVCG)*, March 23–28, 2025. Los Angeles, USA. Best Papers - Honorable Mentions.

3. [**_MetaClassroom: An Immersive Environment for Teaching and Learning in Metaverse_**](https://doi.org/10.1145/3678698.3687190)
<br>
Jia Sun, Zihao Fu, Kairong Fang, Yuyang Wang, and Pan Hui  
*VINCI 2024*, December 11–13, 2024. Hsinchu, Taiwan, China.

4. [**_Embodied AI-Guided Interactive Digital Teachers for Education_**](https://doi.org/10.1145/3680533.3697070)
<br>
Zhuoran Zhao, Zhizhuo Yin, Jia Sun, and Pan Hui  
*SIGGRAPH Asia 2024*, December 3–6, 2024. Tokyo, Japan.


{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



