---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}


Work experience
======

* Summer 2023: Research Assistant
  * MC2 Lab, HKUST (Guangzhou)
  * Duties included: Developing immersive VR environments for cross-disciplinary design thinking course
  * Supervisors: Prof. Pan Hui, Prof. Yuyang Wang

* Summer 2021: Intern
  * Hangzhou EZXR Advanced Technology Co., Ltd. (NetEase Research Institute)
  * Duties included: Developing a location-based AR narrative game in Hangzhou
  * Supervisor: Prof. Tongzhou Yu

Teaching
======
* Summer 2024: Teaching Assistant  
  * HKUST (Guangzhou) & China Academy of Art – Foundations of Computational Media and Arts

* Spring 2024: Teaching Assistant  
  * HKUST (Guangzhou) – Social Media for Creatives

* Fall 2023: Teaching Assistant  
  * HKUST – Metaverse Cross-disciplinary Design Thinking
